<div class="row">
  <div class="col-12">
    <h3 class=" py-3">Select configuration files</h3>
  </div>
  <div class="col-12 col-xl-8">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aplications properties
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field
          class="w-100"
          *ngFor="let config of configFiles.applications; let i = index"
        >
          <input
            matInput
            placeholder="{{ config.key }}"
            value="{{ config.value }}"
          />
        </mat-form-field>

        <button class="btn btn-primary">Submit</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            DS properties
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field
          class="w-100"
          *ngFor="let config of configFiles.DS; let i = index"
        >
          <input
            matInput
            placeholder="{{ config.key }}"
            value="{{ config.value }}"
          />
        </mat-form-field>

        <button class="btn btn-primary">Submit</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
