<div class="card shadow-sm">
  <div class="card-header">
    <h5 class="card-title text-center">{{ country.name }}</h5>
  </div>
  <div class="text-center my-3">
    <span class="flag-icon flag-icon-{{ country.id }}"></span>
  </div>
  <div class="card-body">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a
      class="btn btn-primary"
      color="primary"
      [routerLink]="['/namespaces', 'countries', 'configuration-files']"
      queryParamsHandling="merge"
      [queryParams]="{ country: country.name }"
    >
      select
    </a>
  </div>
</div>
