<div class="card shadow-sm">
  <div class="card-header">
    <h5 class="card-title text-center">{{ namespace.title }}</h5>
  </div>
  <i class="material-icons my-4 text-center">
    {{ namespace.icon }}
  </i>
  <div class="card-body">
    <p class="card-text">
      {{ namespace.description }}
    </p>
    <a
      class="btn btn-primary"
      color="primary"
      [routerLink]="['/namespaces', 'countries']"
      [queryParams]="{ namespace: namespace.title }"
    >
      select
    </a>
  </div>
</div>
