<div class="fluid-container">
  <div class="row">
    <form [formGroup]="listNamespaces" class="container">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="row"
        formControlName="selectedNameSpace"
      >
        <mat-radio-button
          class="card col-4 shadow-sm"
          *ngFor="let namespace of namespaces"
          [value]="namespace.title"
          required
          (click)="validateCrtStep()"
        >
          <div class="card-header">
            <p class="card-text">
              {{ namespace.title }}
            </p>
          </div>
          <div class="card-body">
            <i class="material-icons my-4 text-center">
              {{ namespace.icon }}
            </i>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>
