$color-core-orange: #FF7900;
$color-core-orange-dark: #F16E00;
$color-core-black: #000000;
$color-core-white: #FFFFFF;
$color-supporting-blue: #4BB4E6;
$color-supporting-green: #50BE87;
$color-supporting-pink: #FFB4E6;
$color-supporting-violet: #AA85D8;
$color-supporting-yellow: #FFD200;
$color-functional-green: #32C832;
$color-functional-red: #CD3C14;
$color-functional-blue: #527EDB;
$color-functional-yellow: #FFCC00;
$color-obs-grey: #595959;
$color-functional-grey33: #333333;
$color-functional-grey66: #666666;
$color-functional-grey99: #999999;
$color-functional-greyCC: #CCCCCC;
$color-functional-greyDD: #DDDDDD;
$color-functional-greyEE: #EEEEEE;